In [1]:
import pandas as pd

In [8]:
data = pd.read_csv('data.csv', sep='\t')

In [9]:
data

       Inventory  Sales
0            100   97.0
1             97   91.0
2             91   90.0
3             90   87.0
4             87   87.0
...          ...    ...
11515        102   90.0
11516         92   91.0
11517         91   87.0
11518         87   85.0
11519         85   82.0

[11520 rows x 2 columns]